.bestsellers{
  background: #EEEEEF;
  padding: 136px 52px 104px;
}

.bestsellers__title{
  color: #1F1F1F;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  border-bottom: 1px solid #A8A8A8;
  padding-bottom: 24px;
}

.bestsellers__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 8px;
}

.bestsellers-card {
  width: 306px;
  height: 512px;
  margin: 16px 0;
  box-sizing: border-box;
  background-color: #F8FDFE;
  position: relative;
  border: 1px solid #A8A8A8;
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.bestsellers-card__poster {
  height: 280px;
  margin: 0 auto;
}

.bestsellers-card__title {
  width: 242px;
  border-bottom: 1px solid #A8A8A8;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #1F1F1F;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.bestsellers-card__author {
  width: 242px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $gray-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.bestsellers-card__price{
  display: inline-block;
  color: #E90000;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin: 8px 24px 0 0;


  &--changed{
    color: $gray-color;
    text-decoration: line-through;
  }

}

.bestsellers-card__button{
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  align-self: stretch;
  color:#F8FDFE;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;

  &--add {
    background: $eggplant-color;
  }

  &--end-up {
    background: #4D762D;
  }
}

.bestsellers-card__chips-container {
  position: absolute;
  top: 32px;
  left: 32px;
  z-index: 2;
}

.bestsellers-card__chip {
  border-radius: 4px;
  display: inline-block;
  padding: 4px 8px;
  color: #F8FDFE;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  &--new {
    background-color: #AF39E7;
  }

  &--off {
    background-color: #EA33C0;
  }

  &--hit {
    background-color: #4200FF;
  }
}

