.footer {
  background: $eggplant-color;
  display: flex;
  padding: 32px 52px;
  justify-content: space-between;
  align-items: flex-start;

}
.footer__text {
  color: #F8FDFE;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}