.header{
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}

%both-part-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.top-header {
  @extend %both-part-header;
  background: #10BBD5;
  padding: 16px 52px;
}

.top-header__basket-btn {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  position: relative;
}

.top-header__count{
  color: $black-color;
  font-size: 12px;
  font-weight: 400;
  line-height: 10px;
  position: absolute;
  top: 12px;
  left: 20px;
}

.top-header__right-part {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.top-header__price-summary {
  line-height: 24px;
  font-size: 16px;
  color: #F8FDFE;
}

.bottom-header {
  @extend %both-part-header;
  background: #FFF;
  padding: 4px 52px 4px;
}

.bottom-header__nav-menu {
  display: flex;
  gap: 40px;
}

.bottom-header__link {
  text-decoration: none;
  color: $black-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
